.DS_Store
.env
.env.*
!.env.example

node_modules/
dist/
coverage/
.vite/

.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

infra/backend.zip
infra/tfplan
